@use '../styles/variables.scss' as *;

.wrapper {
  width: $contentWidth;
  margin: 0 auto;
}

.loading-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 14px;
  color: #333;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
